
/* start - basic rules - no need to change  */
img {
  width: 50px;
}
#face {
  width: 400px;
  position:absolute;
}

/* end - basic rules - no need to change  */


#eyes3 {

  position: absolute;
  width: 150px;
  top: 174px;
  left: 122px;

}


#mouth1{

  position: absolute;
  width:100px;
  top: 340px;
  left: 140px;

}


#moustache2 {

  position: absolute;
  width: 240px;
  top: 239px;
  left: 74px;
}

#hat{
  position: absolute;
  width: 286px;
  top: 8px;
  left: 65px
}

#mouth2, #eyes1, #eyes2, #nose1, #nose2, #ears1,#ears2, #hair1, #hair2 {

  visibility: hidden;

 }
 
/* START-  FIRST ROBOT STYLE

#eyes1 {

  position: absolute;
  width: 150px;
  margin-top: 174px;
  margin-left: 122px;

}


#mouth2 {

  position: absolute;
  width:100px;
  margin-top: 325px;
  margin-left: 36px;

}

#nose1{

  position: absolute;
  width: 46px;
  margin-top: 232px;
  margin-left: 61px;
}



#ears1 {
  position: absolute;
  width: 373px;
  margin-top: 100px;
  margin-left: -156px;
}



#hair1{     
  position: absolute;
  width: 298px;
  margin-top: -20px;
  margin-left: -164px
}

#hair2{

  position: absolute;
  width: 145px;
  margin-top: 287px;
  margin-left: -95px;

}

 #mouth1, #eyes2, #nose2, #ears2, #hat {

  visibility: hidden;

 }

END - FIRST ROBOT STYLE */

/* START-  FIRST ROBOT STYLE
#hat{

  position: absolute;
  width: 219px;
  margin-top: -66px;
  margin-left: -182px;



}

#mouth1{

  position: absolute;
  width:100px;
  margin-top: 325px;
  margin-left: 90px;

}

#eyes2{

  position: absolute;
  width: 150px;
  margin-top: 174px;
  margin-left: 74px;
}

#nose2{

  position: absolute;
  width: 65px;
  margin-top: 236px;
  margin-left: 6px;
}

#ears2 {

  position: absolute;
    width: 420px;
    margin-top: 115px;
    margin-left: -225px;
}

#hair1{

  position: absolute;
  width: 300;
  margin-top: -30;
  margin-left: -158px;
}



  #mouth2, #eyes1, #nose1, #ears1, #hair2{

  visibility: hidden;

 }


 END - SECOND ROBOT STYLE */


/* START-   FIX for FIRST ROBOT - correct Rule STYLE


 #eyes1 {

  position: absolute;
  width: 150px;
  top: 174px;
  left: 122px;

}


#mouth2 {

  position: absolute;
  width:100px;
  top: 325px;
  left: 152px;

}

#nose1{

  position: absolute;
  width: 46px;
  top: 232px;
  left: 177px;
}



#ears1 {
  position: absolute;
  width: 373px;
  top: 100px;
  left: 16px;
}



#hair1{     
  position: absolute;
  width: 298px;
  top: -20px;
  left: 61px
}

#hair2{

  position: absolute;
  width: 145px;
  top: 287px;
  left: 130px;

}


#mouth1, #eyes2, #nose2, #ears2, #hat {

  visibility: hidden;

 }

 END - FIX for FIRST ROBOT - correct Rule STYLE */

